.app.app-home {
    text-align: center;
}

.app-home h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0;
    color: $primary-color;
}

.app-home h4 {
    font-size: 2rem;
    margin: 0;
}

.block.block-home-subject p {
    margin-bottom: 0;
}

.block.block-home-subject {
    padding: 1rem;
    width: fit-content;
}

.block.block-home-subject i {
    font-size: 3rem;
}

div#home-subjects {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 48em) {
    .app-home footer {
        margin-top: 3rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .app-home {
        display: flex;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 48em) {
    .block.block-home-subject {
        width: calc(100% - 2rem);
        padding-top: 0;
    }

    .block.block-home-subject a {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    div#home-subjects {
        display: block;
    }

    .block.block-home-subject p {
        margin: 0;
    }

    .app-home h1,
    .app-home h4 {
        padding: 0 2rem;
    }

    .app-home h1 {
        padding-top: 4rem;
    }
}
