.app.app-home {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.app-home h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0;
}

.app-home h4 {
    font-size: 2rem;
    margin: 0;
}

.app-home a {
    color: $accent-color;
}

.block.block-home-subject a {
    color: $primary-color;
}

.block.block-home-subject p {
    margin-bottom: 0;
}

.block.block-home-subject {
    padding: 1rem;
    width: fit-content;
}

.block.block-home-subject i {
    font-size: 3rem;
}

div#home-subjects {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.block-home-subject .block-card {
    box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.23);
}
