#breadcrumbs a {
    color: $accent-color;
}

#subject-header {
    background: $primary-color;
    padding: 2rem;
    color: white;
}

#subject-main {
    padding: 2rem 2rem 4rem;
}

#subject-main-info-card {
    margin-top: -7rem;
}

#subject-name {
    letter-spacing: 0.125rem;
    font-size: 3rem;
    margin-top: 5rem;
}

.subject-task-card.block.block-card {
    margin-bottom: 1rem;
    height: calc(100% - 3rem);
}

.subject-task-card .row {
    align-items: center;
}

.subject-task-number {
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    line-height: 1;
}

.subject-task-points {
    margin-left: auto;
    padding: 0 0.5rem;
    color: green;
    font-weight: 700;
    font-size: 0.9rem;
    text-align: right;
}

.subject-task-theme {
    font-size: 0.9rem;
    margin-top: 1rem;
}

h2.subject-rubric-title {
    color: #c20b22;
    font-weight: normal;
}

.subject-book-image {
    padding: 0;
    overflow: hidden;
}

.subject-book-image img {
    width: 100%;
    display: block;
}

p.subject-book-title {
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
    word-break: break-word;
}

.subject-book {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

p.subject-book-author {
    font-size: 0.75rem;
    margin: 0.5em 0;
    line-height: 1.05;
}

#subject-books .row {
    align-items: center;
}

div#subject-chart-outer {
    position: relative;
    margin-bottom: -2rem;
    margin-top: 5rem;
    margin-left: -1rem;
}

svg#subject-chart {
    display: block;
}

.subject-chart-point {
    width: 1rem;
    height: 1rem;
    margin: -0.5rem 0 0 -0.5rem;
    border-radius: 50%;
    background: $accent-color;
    position: absolute;
}

.subject-chart-label {
    text-align: center;
    position: absolute;
    margin-top: -4em;
    margin-left: -1em;
}

.subject-chart-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    margin: 0;
}

img.subject-channel-image {
    width: 100%;
    border-radius: 50%;
}

img.subject-website-image {
    max-height: 50px;
    display: block;
}

.subject-website-image-card.block.block-card {
    padding: 0.5rem;
    width: fit-content;
    display: block;
}

p.subject-website-title {
    word-break: break-word;
    margin-bottom: 0;
}

p.subject-website-url {
    margin: 0;
    color: #212121;
    font-size: 0.8rem;
}

#subject-channels > .row,
#subject-books > .row,
#subject-websites > .row {
    align-items: center;
}

.subject-channel-title, p.subject-website-title {
    font-weight: bold;
}