#breadcrumbs a {
    color: $accent-color;
}

#subject-header {
    background: $primary-color;
    padding: 2rem;
    color: white;
}

#subject-main {
    padding: 2rem;
}

#subject-main-info-card {
    margin-top: -4rem;
}

#subject-name {
    letter-spacing: 0.125rem;
    font-size: 3rem;
}
