// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Oswald:wght@300;400;700&display=swap");
// Icons
@import "./icofont.min.css";
// Grid
@import "./flexboxgrid.min.css";
// Variables
@import "./variables";
// Common components
@import "./card";
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f8f8f8;
    color: #212121;
    position: relative;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
}

h4 {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: $primary-color;
}

.container {
    max-width: 100%;
}

h1#project-name {
    margin: 0;
    font-size: 1.75rem;
}

footer {
    background: #c20b21;
    text-align: center;
    padding: 1rem;
    color: white;
    margin-top: 3rem;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 4rem;
}

footer p {
    margin: 0;
}

footer a {
    color: $accent-color;
}

.app:not(.app-home) {
    padding-bottom: 4rem;
}

.no-info{
    margin: 0 0.5rem;
    font-size: .9rem;
}

// Per-page styles
@import "./home";
@import "./subject";
