// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Oswald:wght@300;400;700&display=swap");
// Icons
@import "./icofont.min.css";
// Grid
@import "./flexboxgrid.min.css";
// Variables
@import "./variables";
// Common components
@import "./card";
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f0f0f0;
    color: #212121;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
}

h4 {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: $primary-color;
}

.container {
    max-width: 100%;
}

// Per-page styles
@import "./home";
@import "./subject";
